.modals{
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.6);
    z-index: 99;

}

.modals .containers{
    position: fixed;
    max-width: 600px;
    top: 15%;
    left:0;
    right: 0;
    margin: 0 auto;
    padding: 4em 2rem;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0,0,0, 0.8);
  }

  .containers span{
    font-size: 1.3em;
    font-weight: bold;
  }

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.closes, .cancel{
    
    border:0;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 15px;
    border-radius: 5px;
}

.closes{
    background-color: #F65835;
 
}

.cancel{
    background-color: #;
}