.modal{
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.6);
    z-index: 99;

}

.modal .container{
    position: fixed;
    max-width: 600px;
    top: 15%;
    left:0;
    right: 0;
    margin: 0 auto;
    padding: 4em 2rem;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0,0,0, 0.8);
  }

.button{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 100%;
    margin-bottom: 10px;
}