.contianer{
    display: flex;
    background-color: #F8f8f8;
    border-radius: 5px;
    padding: .8em;
    align-items: center;
}

.label-avatar{
    width: 280px;
    height: 280px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: ;
}